{% load static %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

{#<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>#}
{#<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>#}
{#<script src="https://cdn.jsdelivr.net/npm/leaflet/dist/leaflet.js"></script>#}
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>

<!-- Leaflet.MousePosition plugin -->
<script src="{% static 'L.Control.MousePosition.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/leaflet.coordinates/dist/Leaflet.Coordinates-0.1.5.min.js"></script>
{#<script src="{% static 'L.Control.Locate.js' %}"></script>#}
<script src="https://cdn.jsdelivr.net/npm/leaflet-draggable@1.0.0/dist/leaflet-draggable.min.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet/dist/leaflet.css"/>
<script src="https://cdn.jsdelivr.net/npm/leaflet/dist/leaflet.js"></script>

<!-- Leaflet.locate plugin -->
<script src="{% static 'L.Control.Locate.js' %}"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/leaflet.coordinates/dist/Leaflet.Coordinates-0.1.5.min.js"></script>