{% load static %}
{#<link rel="stylesheet" type="text/css" href="https://unpkg.com/leaflet/dist/leaflet.css"/>#}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">


<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"/>


<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"/>
{#<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet/dist/leaflet.css"/>#}
<!-- Leaflet library -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet/dist/leaflet.css"/>
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"/>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet.coordinates/dist/leaflet.coordinates.min.css"/>
<link rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/leaflet.coordinates@0.1.5/dist/Leaflet.Coordinates-0.1.5.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet.coordinates/dist/Leaflet.Coordinates-0.1.5.css">


<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet.coordinates/dist/leaflet.coordinates.min.css"/>


<link rel="stylesheet" href="{% static 'L.Control.Locate.css' %}"/>




