{% load static %}
<link rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&amp;display=fallback">
<link rel="stylesheet" href={% static "plugins/fontawesome-free/css/all.min.css" %}>
<link rel="stylesheet" href={% static "plugins/icheck-bootstrap/icheck-bootstrap.min.css" %}>
<link rel="stylesheet" href={% static "dist/css/adminlte.min.css" %}>
<link rel="stylesheet" href={% static "dist/css/adminlte.css" %}>
<link rel="stylesheet" href={% static "dist/css/adminlte.css" %}>
<link rel="stylesheet" href={% static "custom/custom.css" %}>
<link rel="stylesheet" href="{% static 'login/fonts/material-icon/css/material-design-iconic-font.min.css' %}">
<link rel="stylesheet" href="{% static 'login/css/style.css' %}">



