{% extends 'base.html' %}
{% load static %}
{% load leaflet_tags %}


{% block header %}
    {{ form.media }}
    {% leaflet_js plugins="forms" %}
    {% leaflet_css plugins="forms" %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">


    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"/>


    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"/>
    {#<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet/dist/leaflet.css"/>#}
    <!-- Leaflet library -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"/>
    {#    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet.coordinates/dist/leaflet.coordinates.min.css"/>#}
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/leaflet.coordinates@0.1.5/dist/Leaflet.Coordinates-0.1.5.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet.coordinates/dist/Leaflet.Coordinates-0.1.5.css">


    {#    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet.coordinates/dist/leaflet.coordinates.min.css"/>#}


    <link rel="stylesheet" href="{% static 'L.Control.Locate.css' %}"/>
{% endblock %}


{% block js_link %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>

    <!-- Leaflet.MousePosition plugin -->
    {#    <script src="{% static 'L.Control.MousePosition.js' %}"></script>#}
    <script src="https://cdn.jsdelivr.net/npm/leaflet.coordinates/dist/Leaflet.Coordinates-0.1.5.min.js"></script>
    {#        <script src="https://cdn.jsdelivr.net/npm/leaflet-draggable@1.0.0/dist/leaflet-draggable.min.js"></script>#}
    <script src="https://cdn.jsdelivr.net/npm/leaflet-draggable-lines@1.2.1/dist/L.DraggableLines.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet/dist/leaflet.css"/>
    <script src="https://cdn.jsdelivr.net/npm/leaflet/dist/leaflet.js"></script>

    <!-- Leaflet.locate plugin -->
    <script src="{% static 'L.Control.Locate.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/leaflet.coordinates/dist/Leaflet.Coordinates-0.1.5.min.js"></script>
{% endblock %}


{% block content %}

    <div id="m" style="width: 1900px; height: 840px"></div>


    <div id="popup-form" style="display: none">
        <form action="{% url 'edit_points' placeID=points.id %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.description }}<br>
            {{ form.picture }}<br>
            {{ form.lat }}<br>
            {{ form.lng }}<br>
            <div class="form-group form-button ">
                <input type="submit" class="btn btn-primary btn-block" value="Edit">
            </div>
        </form>

    </div>


    {% block footer_links %}
        {% include 'reporter/include/footer_links.html' %}
    {% endblock %}

    <script type="text/javascript">
        var m = L.map('m').setView(['{{ points.location.y }}', '{{ points.location.x }}'], 15)
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; OpenStreetMap contributors'
        }).addTo(m);
        var bounds = L.latLngBounds(
            L.latLng(31.8012, 54.1909), // Southwest corner
            L.latLng(32.0159, 54.4448)// Northeast corner (latitude, longitude)
        );
        m.setMaxBounds(bounds);

        m.setMinZoom(13);
        var latitude = "{{ points.location.y }}";
        var longitude = "{{ points.location.x }}";
        var popupContent = $('#popup-form');
        var customIcon = L.icon({
            iconUrl: "{% static 'marker/gps.png' %}", // URL to the custom icon image
            iconSize: [50, 50], // size of the icon image
            iconAnchor: [16, 32], // position of the icon's anchor point
        });

        var marker = L.marker([latitude, longitude], {
            draggable: true,
            icon: customIcon
        }).addTo(m).bindPopup(popupContent.html());


        var coordinatesControl = new L.Control.Coordinates({
            position: 'bottomleft', // Control position on the map (default: 'bottom left')
            decimals: 4, // Number of decimal places for coordinates (default: 4)
            decimalSeperator: '.', // Decimal separator character (default: '.')
            labelTemplateLat: "Latitude: {y}", // Label template for latitude (default: "Lat: {y}")
            labelTemplateLng: "Longitude: {x}", // Label template for longitude (default: "Lng: {x}")
            enableUserInput: false, // Enable manual input of coordinates (default: false)
            useDMS: false, // Display coordinates in DMS format (default: false)
            useLatLngOrder: false, // Display coordinates in the order [Lat, Lng] (default: true)
        });


        coordinatesControl.addTo(m);

        // Initialize the Locate control
        L.control.locate({
            onLocationError: function (err) {
                alert('Error: ' + err.message);
            }
        }).addTo(m);
        marker.on('click', function (e) {
            {#var lng = e.target.getLatLng().lng.toFixed(6);#}
            {#var lat = e.target.getLatLng().lat.toFixed(6);#}
            var lng = e.latlng.lng.toFixed(6);

            var lat = e.latlng.lat.toFixed(6);
            document.getElementById('id_lng').value = lng;
            document.getElementById('id_lat').value = lat;

        })

    </script>





{% endblock %}