{% extends 'base.html' %}
{% load static %}

{% block header %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" type="text/css" href="{% static 'map.css' %}"/>
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/leaflet/dist/leaflet.css" crossorigin=""/>
    <script src="https://unpkg.com/leaflet/dist/leaflet.js" crossorigin=""></script>
{% endblock %}

{% block content %}
    {% for pl in place %}
        <h2>{{ pl.description }}</h2>
        <small>{{ pl.location }}</small>
        <h3>{{ pl.likes }}</h3>
        <h5>{{ pl.created }}</h5>


    {% endfor %}

{% endblock %}