{% extends 'base.html' %}
{% load static %}
{% load leaflet_tags %}


{% block header %}
    {{ form.media }}
    {% leaflet_js plugins="forms" %}
    {% leaflet_css plugins="forms" %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">


    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"/>


    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"/>
    {#<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet/dist/leaflet.css"/>#}
    <!-- Leaflet library -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"/>
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/leaflet.coordinates@0.1.5/dist/Leaflet.Coordinates-0.1.5.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet.coordinates/dist/Leaflet.Coordinates-0.1.5.css">




    <link rel="stylesheet" href="{% static 'L.Control.Locate.css' %}"/>

{% endblock %}


{% block js_link %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>

    <!-- Leaflet.MousePosition plugin -->
    <script src="{% static 'L.Control.MousePosition.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/leaflet.coordinates/dist/Leaflet.Coordinates-0.1.5.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet/dist/leaflet.css"/>
    <script src="https://cdn.jsdelivr.net/npm/leaflet/dist/leaflet.js"></script>

    <!-- Leaflet.locate plugin -->
    <script src="{% static 'L.Control.Locate.js' %}"></script>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>

        <script src="https://cdn.jsdelivr.net/npm/leaflet.coordinates/dist/Leaflet.Coordinates-0.1.5.min.js"></script>
{% endblock %}


{% block content %}

    <div id="m" style="width: 1900px; height: 900px"></div>


    <div id="popup-form" style="display: none">
        <form enctype="multipart/form-data" method="post" action="{% url 'lists_points' %}">
            {% csrf_token %}
            {{ form.description }}<br>
            {{ form.picture }}<br>
            {{ form.lat }}<br>
            {{ form.lng }}<br>
            <div class="form-group form-button ">
                <input type="submit" class="btn btn-primary btn-block" value="Add">
            </div>
        </form>
    </div>


    <script type="text/javascript">
        var m = L.map('m').setView([31.8976, 54.3381], 15)
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; OpenStreetMap contributors'
        }).addTo(m);
        var bounds = L.latLngBounds(
            L.latLng(31.8012, 54.1909), // Southwest corner
            L.latLng(32.0159, 54.4448)// Northeast corner (latitude, longitude)
        );
        m.setMaxBounds(bounds);

        m.setMinZoom(13);
        {% for e in object_list %}
            var latitude = {{ e.location.y }};
            var longitude = {{ e.location.x }};
            {% if request.user == e.user%}

                var customIcon = L.icon({
                    iconUrl: "{% static 'marker/gps.png' %}", // URL to the custom icon image
                    iconSize: [50, 50], // size of the icon image
                    iconAnchor: [16, 32], // position of the icon's anchor point
                });
                var url_e = "<a href='{% url 'edit_points' placeID=e.id%}' class='btn btn-primary'><span style='color:black;'>Edit</span></a>"
                var url_d = "<a href='{% url 'delete_points' placeID=e.id%}' class='btn btn-danger '><span style='color:black;'>Delete</span></a>"
                L.marker([latitude, longitude], {icon: customIcon}).addTo(m).bindPopup('{{ e }}' + '<br>' + url_e + ' ' + url_d)
            {% else %}
                var customIcons = L.icon({
                    iconUrl: "{% static 'marker/pin.png' %}", // URL to the custom icon image
                    iconSize: [40, 40], // size of the icon image
                    iconAnchor: [16, 32], // position of the icon's anchor point
                });
                L.marker([latitude, longitude], {icon: customIcons}).addTo(m).bindPopup('{{ e }}');

            {% endif %}


        {% endfor %}
        var coordinatesControl = new L.Control.Coordinates({
            position: 'bottomleft', // Control position on the map (default: 'bottomleft')
            decimals: 4, // Number of decimal places for coordinates (default: 4)
            decimalSeperator: '.', // Decimal separator character (default: '.')
            labelTemplateLat: "Latitude: {y}", // Label template for latitude (default: "Lat: {y}")
            labelTemplateLng: "Longitude: {x}", // Label template for longitude (default: "Lng: {x}")
            enableUserInput: false, // Enable manual input of coordinates (default: false)
            useDMS: false, // Display coordinates in DMS format (default: false)
            useLatLngOrder: false, // Display coordinates in the order [Lat, Lng] (default: true)
        });

        coordinatesControl.addTo(m);

        // another way for show the lat and lng
        {#L.control.mousePosition().addTo(m);#}

        // Initialize the Locate control
        L.control.locate({
            onLocationError: function (err) {
                alert('Error: ' + err.message);
            }
        }).addTo(m);


        var marker = L.marker();
        var popupContent = $('#popup-form');

        function onMapClick(e) {
            var lat = e.latlng.lat.toFixed(6);
            var lng = e.latlng.lng.toFixed(6);
            var confirmed = confirm("Do you want to add a mark on the map?");

            if (confirmed === true) {
                marker
                    .setLatLng(e.latlng)
                    .addTo(m)
                    .bindPopup(popupContent.html())
                    .openPopup();

                document.getElementById('id_lat').value = lat;
                document.getElementById('id_lng').value = lng;


                window.alert("Confirm the form to create a mark on the map!");
            }


        }

        m.on('click', onMapClick);


    </script>
{% endblock %}

